pdoc3

mkdocs
mkdocstrings[python]
mkdocs-material
mkdocs-git-revision-date-localized-plugin
pymdown-extensions

requests
requests_toolbelt
xmltodict
setuptools
kubernetes
zipfile36
suds
packaging

selenium
chromedriver_autoinstaller